{% extends 'base.html' %}

{% block title %}
    Contact Page
{% endblock %}

{% block content %}
<div class="contact">
    <h1>Welcome to Contact Page!!!</h1>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi quas sequi eius commodi eos similique odit repellat pariatur, sed nostrum.</p>
    <br>
    <div class="social-links">
        <a href="https://t.me/komronbek_dev/" class="social-link" target="blank">Telegram</a>
        <a href="https://linkedin.com/in/komronbek/" class="social-link" target="blank">Linkedin</a>
        <a href="https://github.com/komronbek-tufliyev/" class="social-link" target="blank">GitHub</a>
        <a href="https://instagram.com/komronbek773/" class="social-link" target="blank">Instagram</a>
    </div>
</div>
{% endblock %}